{% extends "base/base.jinja" %}

{% set title = "Der Verein" %}

{% block content %}
<gallery-carousel></gallery-carousel>
<div class="container wrapper">
    <main>
        <content-card title="Gewehr -und Pistolenschützen" date="">
        <div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>Unsere Gewehr-und Pistolenschützen schießen auf einer elektronischen Anlage der Firma Sius.<br>
                        Wir haben insgesamt 13 Luftdruckstände zur verfügung, seit neuestem haben wir auch ein Lichtgewehr und eine Lichtpistole für die jüngsten zur Vervollständigung unseres Angebotes.</b>
                    </p>

                    <p>
                        Des Weiteren haben wir eine neu renovierte 25-Meter-Halle für unsere Sportpistolenschützen, und eine 50-Meter-Halle für unsere Kleinkaliberschützen.
                    </p>
                </div>
                <div class="col">
                    <img src="/static/img/ssgr-transparent.svg" 
                        class="img-fluid" alt="Vereinslogo Gewehr- und Pistolenschützen" role="img">
                </div>
            </div>
        </div>
        </content-card>
        <content-card title="Bogenschützen" date="">
        <div>
            <div class="row">
                <div class="col">
                    <p>
                        <b>Unsere Bogenschützen sind in der kalten Jahreszeit in unserer 25-Meter-Halle zu finden,<br> 
                        im Sommer zumeist auf unserer großzügigen Bogenwiese im Freien, auf der auch verschiedene Meisterschaften ausgerichtet werden.</b>
                    </p>
                </div>
                <div class="col">
                    <img src="/static/img/ssgr-bogenschützen-transparent.svg"
                        class="img-fluid" alt="Vereinslogo Gewehr- und Pistolenschützen" role="img">
                </div>
            </div>
        </div>
        </content-card>
    </main>
</div>
<div class="push"></div>
{% endblock %}